In [1]:
# single word
'hello'

'hello'

In [2]:
str = 'hello'
str

'hello'

In [3]:
'hi'

'hi'

In [4]:
# Entire phrase
'This is also a string'

'This is also a string'

In [5]:
'Hi,how are you'

'Hi,how are you'

In [6]:
# we can also use double quote
"String built with double quotes"

'String built with double quotes'

In [7]:
'I'm using single quotes,but will create an error'

SyntaxError: invalid syntax (<ipython-input-7-9aa49504112a>, line 1)

In [9]:
"I'm using double quotes,but will not create an error"

"I'm using double quotes,but will not create an error"

In [10]:
# simply declaring a string
'Hello World'

'Hello World'

In [11]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [12]:
'Hello girl 2'
'Hello girl 3'

'Hello girl 3'

In [13]:
print 'Hello World 1'
print 'Hello World 2'
print 'Use \n to print a new line'
print '\n'
print 'See what I mean?'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World 1')? (<ipython-input-13-3c2f3251395a>, line 1)

In [14]:
# to use print function from python 3 in python 2
from __future__ import print_function

print 'Hello World'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello World')? (<ipython-input-14-0140cab809e9>, line 4)

In [15]:
# length of the string
len('Hello World')

11

In [16]:
len('how are you')

11

In [17]:
len('what is your name')

17

In [18]:
# Assign s as a string
s = 'Hello World'

In [19]:
#Check
s

'Hello World'

In [20]:
# print the object
print(s)

Hello World

In [21]:
# Show first element
s[0]

'H'

In [22]:
s[1]

'e'

In [23]:
s[2]

'l'

In [24]:
s[3]

'l'

In [25]:
s[4]

'o'

In [26]:
s[1:]

'ello World'

In [27]:
#There is no change to the original s
s

'Hello World'

In [28]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [29]:
s[3:]

'lo World'

In [30]:
# Grab everything up to the 11th index
s[:11]

'Hello World'

In [31]:
#Everything
s[:]

'Hello World'

In [32]:
# last letter
s[-1]

'd'

In [33]:
s[-2]

'l'

In [34]:
# grab everything but the last letter
s[:-1]

'Hello Worl'

In [35]:
# Grab everything,but in step size of 1
s[::1]

'Hello World'

In [36]:
s[::2]

'HloWrd'

In [37]:
# to print the string backwards
s[::-1]

'dlroW olleH'

In [38]:
s[::-2]

'drWolH'

In [39]:
s[::-3]

'dooe'

In [40]:
s

'Hello World'

In [41]:
# concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [42]:
print(s)

Hello World

In [43]:
s = s + ' concatenate me!'

In [44]:
print(s)

Hello World concatenate me!

In [45]:
s

'Hello World concatenate me!'

In [46]:
letter = 'z'

In [47]:
letter*10

'zzzzzzzzzz'

In [48]:
s

'Hello World concatenate me!'

In [49]:
# upper case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [50]:
#lower case
s.lower()

'hello world concatenate me!'

In [51]:
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [52]:
s.split('o')

['Hell', ' W', 'rld c', 'ncatenate me!']

In [53]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [54]:
print(s)
s.count('o')

Hello World concatenate me!

3

In [55]:
s.find('o')

4

In [56]:
s.center(40,'z')

'zzzzzzHello World concatenate me!zzzzzzz'

In [57]:
'hello\thi' .expandtabs()

'hello   hi'

In [58]:
s = 'hello'

In [59]:
s.isalnum()

True

In [60]:
s.isalpha()

True

In [61]:
s.islower()

True

In [62]:
s.isspace()

False

In [63]:
s.istitle()

False

In [64]:
s.isupper()

False

In [65]:
s.endswith('o')

True

In [66]:
s.split('e')

['h', 'llo']

In [67]:
s.partition('e')

('h', 'e', 'llo')

In [68]:
s

'hello'

In [69]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [70]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

In [71]:
len(my_list)

4

In [72]:
my_list = ['one','two','three',4,5]

In [73]:
my_list[0]

'one'

In [74]:
my_list[1:]

['two', 'three', 4, 5]

In [75]:
my_list[:3]

['one', 'two', 'three']

In [76]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [77]:
my_list

['one', 'two', 'three', 4, 5]

In [78]:
# Reassign
my_list = my_list + ['add new item permanently']

In [79]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [80]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [81]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [82]:
# Create a new list
l = [1,2,3]

In [83]:
# Append
l.append('append me!')

In [85]:
# Show
l

[1, 2, 3, 'append me!']

In [86]:
l.pop(0)

1

In [87]:
# show
l

[2, 3, 'append me!']

In [88]:
popped_item = l.pop()

In [89]:
popped_item

'append me!'

In [90]:
# show remaining list
l

[2, 3]

In [91]:
l[100]

IndexError: list index out of range

In [92]:
new_list = ['a','e','x','b','c']

In [93]:
#show
new_list

['a', 'e', 'x', 'b', 'c']

In [94]:
new_list.reverse()

In [95]:
new_list

['c', 'b', 'x', 'e', 'a']

In [96]:
new_list.sort()

In [97]:
new_list

['a', 'b', 'c', 'e', 'x']

In [98]:
# lets make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [99]:
#Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [100]:
matrix[0]

[1, 2, 3]

In [101]:
matrix[0][0]

1

In [102]:
first_col = [row[0] for row in matrix]

In [103]:
first_col

[1, 4, 7]

In [111]:
l = [1,2,3]

In [112]:
l.append(4)

l

[1, 2, 3, 4]

In [106]:
l.count(10)

0

In [107]:
l.count(2)

1

In [108]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [109]:
x=[1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [114]:
print(l)
l.index(2)

[1, 2, 3, 4]

1

In [115]:
l.index(12)

ValueError: 12 is not in list

In [116]:
l

[1, 2, 3, 4]

In [117]:
l.insert(2,'inserted')

In [118]:
l

[1, 2, 'inserted', 3, 4]

In [119]:
ele = l.pop()

In [120]:
l

[1, 2, 'inserted', 3]

In [121]:
ele

4

In [122]:
l

[1, 2, 'inserted', 3]

In [123]:
l.remove('inserted')

In [124]:
l

[1, 2, 3]

In [125]:
l = [1,2,3,4,3]

In [126]:
l.remove(3)

In [127]:
l

[1, 2, 4, 3]

In [128]:
l.reverse()

In [129]:
l

[3, 4, 2, 1]

In [130]:
l

[3, 4, 2, 1]

In [131]:
l.sort()
l

[1, 2, 3, 4]